@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #1f1f58;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

h3 {
    margin: 15px 0px 15px 0px;
}

.navbar h1 {
    padding-left: 30px;
}

.text-box-outer {
    top: 80%;
    left: 50%;
    color: #1F1F58;
    transform: translate(-50%, -50%);  
    width: 48vw;  
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 3vw;
    border-radius: 37.5px;
    padding: 20px 20px 20px 20px;
    height: 9vh;
    position: absolute;
}

.text-box {
    position:absolute;
    top: 50%;
    left:50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

.real-estate-box {
    top: 50%;
    left: 50%;
    color: #1F1F58;
    transform: translate(-50%, -50%);  
    width: 48vw;  
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 3vw;
    border-radius: 37.5px;
    padding: 20px 20px 20px 20px;
    height: 9vh;
    position: absolute;
}


.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* Setting it fixed created parallax */
    background-attachment: fixed;
}

.pimg1{
    background-image:url('../images/hero-image.jpeg');
    min-height: 750px;
}

.pimg2{
    background-image:url('../images/hero-living.jpg');
    min-height: 500px;
}

.pimg3{
    background-image:url('../images/hero-living.jpg');
    min-height: 500px;
}

.section {
    text-align: center;
    padding: 30px 150px 80px 150px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666
}

.section-dark{
    background-color: #1F1F58;
    color: #ddd
}

.section-mid {
    background-color: #a9bbb1;
    color: #222157   
}


.logo-box {
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: rgba(31, 31, 88, 0.8);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.ptext {
    text-align: center;
    padding-top: 40px;
}

@media(max-width: 568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

#navbar-colors {
    background-color: #1F1F58 !important;
    border-top: 10px solid #E7EFC5;
    border-bottom: 10px solid #E7EFC5;
}

.navbar-dark .navbar-nav .nav-link {
    color: #777777;
}

.text-parent {
    width: 100%;
    text-align: center;
    
}

.text-child {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
}

.text-child h4 {
    text-transform: uppercase;
    margin-bottom: 0px;
}

.text-child h5 {
    margin-bottom: 0px;
}

.real-text-box {
    max-height: 150px;
}

.video-content {
    position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 56.25%;
}

.video-box {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }